body{
    margin: 300px;
}
div{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #686161;
    margin: 10px;
    width: 500px;
}
#rounded-all{
    border: 10px solid red;
    border-radius: 40px;
}
#rounded-two{
    border: 10px solid red;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

